<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" language="java">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
</head>
<body>


This is product list page.<br>
<form action="/ProductType/Create" method="post">
    <table border="1">
        <thead>
        <tr>
            <td>type</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input name="productType" /></td>
        </tr>
        </tbody>

    </table>
    <button type="submit">提交</button>
</form>
</body>
</html>