<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" language="java">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
</head>
<body>


This is product list page.<br>
<form action="/SystemAccount/Edit" method="post">

    <table border="1">
        <thead>
        <tr>
            <td>id</td>
            <td>username</td>
            <td>password</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account:${edit}">
            <td> <input name="id" th:value="${account.id}"/></td>
            <td><input name="username" th:value="${account.username}"/></td>
            <td><input name="password" th:value="${account.password}"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">提交</button>
</form>
</body>
</html>